NODE_ENV
PORT

# DATABASE
DB_TYPE
DB_HOST
DB_PORT
DB_USERNAME
DB_PASSWORD
DB_NAME
DB_SSL
DB_URL

# CACHE
CACHE_HOST
CACHE_PORT
CACHE_PASSWORD
CACHE_TLS

# CLIENT
CLIENT_ORIGIN

# CSRF
CSRF_SECRET

# IS PUBLIC
IS_PUBLIC_KEY

# JWT
JWT_SECRET

# ROLES
ROLES_KEY